@font-face {
	font-family: 'BMJUA'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); /* 웹폰트 글씨체 URL 선언 */
	font-weight: normal;
	font-style: normal;
}

body {
	font-weight: 500; /*글씨 굵기 선언*/
	font-family: 'BMJUA'; /*@font-face 글씨 선선언*/
}

a:link{ /*마우스로 a 태그 누를때*/
	color:black;
	text-decoration: none;
}

a:visited{ /*a 태그방문 했을경우에*/	
	color:black;
	text-decoration: none;
}

a:hover{ /*a 태그에 마우스올릴경우 */
	color: salmon;
	text-decoration: none;
}

.div_layout_main_dashbord{
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
	/* margin-left: 40%; */
}

.div_layout_main_logo{
	display: flex;
  justify-content: center;
  align-items: center;
}

.img_layout_logo{
	cursor: pointer;
}

.div_register_main{
	display: flex;
  justify-content: center;
  align-items: center; 
}

.div_layout_register_info{
	margin-top: 35px;
	display: block;
	/* border:solid gray 2px; */
	width: 300px;
	justify-content: center;
}

.div_layout_register_type{
	margin-bottom: 20px;
}

.txt_id{
	border-radius: 5px;
	border: solid gainsboro 1.5px;
	height: 30px;
	width: 130px;
	color:gray;
}

#span_Separator{
	color:gray;
}

#sel_domain{
	border-radius: 5px;
	border: solid gainsboro 1.5px;
	height: 35px;
	width: 140px;
}

.span_id_nm{
	display: block;
	margin-bottom: 10px;
}

.txt_other{
	border-radius: 5px;
	border: solid gainsboro 1.5px;
	height: 30px;
	width:292px;
	color:gray;
}

.div_layout_register_type_2{
	border-bottom: solid gainsboro 1.5px;
	padding-bottom: 10px;
}

.div_layout_register_type_agree{
	margin-top: 10px;
	font-size: 18px;
}

.chk_register_all_agree{
	transform : scale(1.3);
	vertical-align: -1.3px;
}

.div_layout_register_type_agree_detail{
	margin-top: 10px;
	font-size: 15px;
	border:solid gainsboro 1.5px;
	border-radius: 5px;
	padding: 2px;
	height: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.chk_register_detail_agree{
	transform : scale(1.2);
	vertical-align: -1.2px;
}

.btn_register{
	margin-top: 8px;
	width:300px;
	height: 50px;
	border-radius: 5px;
	border: solid salmon 1.5px;
	font-size: 15px;
	background-color: salmon;
	font-weight: 600;
	color: white;
	cursor: pointer;
}

.div_already_id{
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}

.a_login{
	margin-left: 5px;
	font-size: 15px;
	vertical-align: -1px;
}
